{% extends "base.html" %}

{% block title %}Safecity SMS Mocker{% endblock %}

{% block content %}

<div class="container container_12">
<div id="header" class="grid_12">
    <br />
    <h1>SMS Mocker</h1>
    <br />
</div>
<div id="main" class="grid_12">
    <table id="traffic" width="100%">
        <tr>
            <th width="15%" align="left">Sender/Recipient</th>
            <th width="10%" align="left">Direction</th>
            <th width="75%" align="left">Message</th>
        </tr>
    </table>
    <br />
    <hr />
    <br />
</div>
    <form id="mockup">
        <div class="grid_2"><label for="sender">Sender:</label><br /><input type="text" name="sender" id="mockup-sender" /></div>
        <div class="grid_9"><label for="text">Message:</label><br /><input type="text" name="text" id="mockup-text" size="100"></div>
        <div class="grid_1"><br /><input type="submit" id="mockup-submit" value="Send" /></div>
    </form>
</div>

{% endblock %}

{% block extrafoot %}
<script type="text/javascript">
function outbound_sms(data, status) {
    for (d in data) {
        row = "<tr>";
        row += "<td>" + data[d][0] + "</td>";
        row += "<td>Out</td>";
        row += "<td>" + data[d][1] + "</td>";
        row += "</tr>";
        
        $("#traffic").append(row);
    }
};

function inbound_sms() {
    row = "<tr>";
    row += "<td><em>" + $("#mockup-sender").val() + "</em></td>";
    row += "<td><em>In</em></td>";
    row += "<td><em>" + $("#mockup-text").val() + "</em></td>";
    row += "</tr>";
    
    $("#traffic").append(row);
    
    $.ajax({
         url: '{% url mock_sms_ajax %}',
         dataType: 'json',
         data: $("#mockup").serialize(),
         success: outbound_sms
         });
    
    return false;
}

$(document).ready(function () {
   $("#mockup-submit").click(inbound_sms);
});
</script>
{% endblock %}